<div class="card categories-card bg-light">
	<div class="card-body">
		<h5 class="card-title mb-4">Searching</h5>

		<div class="form-group">
			<input type="text" class="form-control" placeholder="Just start typing to search tasks">
		</div>

	</div>
</div>

